.modal.fade#addChannelModal(tabindex="-1", role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span &times;
        h4.modal-title Add Channel
      .modal-body
        form
          .form-group
            label(for="channelName") Channel
            input.form-control(type="text", placeholder="Name") 
            
        .input-group
          input.form-control(type='text', placeholder='Search for...')       
          span.input-group-btn
            button#startSearchButton.btn.btn-default(type='button') Go!

      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") Close
        button.btn.btn-primary.confirm(data-dismiss="modal") Add
