.modal.fade#addChannelModal(tabindex="-1", role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span &times;
        h4.modal-title Add Channel
      .modal-body
        form
        .input-group#searchGroup
          input.form-control(type='text', placeholder='Search for...')       
          span.input-group-btn
            button.btn.btn-default(type='button') Go!
        .results

      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") Close
        button.btn.btn-primary.confirm(data-dismiss="modal") Add
