extends layout

block content
    include ./addChannelModal.jade
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
    
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation             
            span.icon-bar                  
            span.icon-bar                
            span.icon-bar             
        // /.navbar-header
        
        div.navbar-center  
          a#playButton.navbar-brand
            i.fa.fa-play
          a#pauseButton.navbar-brand
            i.fa.fa-pause
          div
            input#playerProgress(type='range', min='0', value='0', max='100', step='1')

        
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-bell.fa-fw
              i.fa.fa-caret-down                
            ul.dropdown-menu.dropdown-alerts
              li
                a(href='#')
                  div
                    i.fa.fa-comment.fa-fw
                    |  New Comment                                  
                    span.pull-right.text-muted.small 4 minutes ago                    
              li.divider                   
              li
                a(href='#')
                  div
                    i.fa.fa-twitter.fa-fw
                    |  3 New Followers                                 
                    span.pull-right.text-muted.small 12 minutes ago                  
              li.divider                  
              li
                a(href='#')
                  div
                    i.fa.fa-envelope.fa-fw
                    |  Message Sent                                 
                    span.pull-right.text-muted.small 4 minutes ago                      
              li.divider                     
              li
                a(href='#')
                  div
                    i.fa.fa-tasks.fa-fw
                    |  New Task                                   
                    span.pull-right.text-muted.small 4 minutes ago                     
              li.divider                 
              li
                a(href='#')
                  div
                    i.fa.fa-upload.fa-fw
                    |  Server Rebooted                               
                    span.pull-right.text-muted.small 4 minutes ago                    
              li.divider                
              li
                a.text-center(href='#')
                  strong See All Alerts                            
                  i.fa.fa-angle-right
            // /.dropdown-alerts
          // /.dropdown
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              i.fa.fa-caret-down               
            ul.dropdown-menu.dropdown-user
              li
                a(href='#')
                  i.fa.fa-user.fa-fw
                  |  User Profile                    
              li
                a(href='#')
                  i.fa.fa-gear.fa-fw
                  |  Settings                   
              li.divider                  
              li
                a(href='login.html')
                  i.fa.fa-sign-out.fa-fw
                  |  Logout
            // /.dropdown-user
          // /.dropdown
        // /.navbar-top-links
        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#channelList.nav              
              //Add channel names here
              each channel in channelInfo
                li
                  a(href="##{channel.name}") #{channel.name}
                    img(src="#{channel.thumbnail}").img-responsive.pull-left
                    i.remove.fa.fa-times.pull-right
                      
              li#addChannelButton
                button.btn.btn-primary(type="button", data-toggle="modal", data-target="#addChannelModal") Add Channel
         
          // /.sidebar-collapse
        // /.navbar-static-side
    #player
    #page-wrapper
      .row
        .col-lg-12
          .header
            img
            h1.page-header Dashboard
        // /.col-lg-12
      // /.row
      
      .row.videos
      // /.row
    // /#page-wrapper
  // /#wrapper
