doctype html
html
  head
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1')   

    // Custom CSS
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Bootstrap CSS
    link(href='/external/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../template/bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
    // SB-Admin-2 CSS
    link(href='../template/dist/css/sb-admin-2.css', rel='stylesheet')
    // Fontawesome
    link(href='../template/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

    // Youtube iFrame API
    script(src='https://www.youtube.com/iframe_api')
    // jQuery
    script(src="/external/jquery-2.2.2.min.js")
    // Bootstrap Core JavaScript
    script(src='/external/bootstrap/dist/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../template/bower_components/metisMenu/dist/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='../template/dist/js/sb-admin-2.js')
    
    //Load custom JavaScript
    script(src="/javascripts/script.js")

  body
    block content
    
