@import 'channelList';
@import '_loadingCircle';
@import '_modal';
@import '_player';
@import '_videoList';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

a, a:active, a:focus {
  color: #00B7FF;
  outline: 0 !important;
}

.videos {
  display: none;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}

.auth-container {
  margin-top:100px;
}
