.loading {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top-color: #FFF;
  animation: spin 1s infinite linear;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.auth-container {
  margin-top:100px;
}

#addChannelModal {
  .results {
    margin-top: 10px;
  }

  img {
    padding: 4px;
    border: 1px solid #9c9c9c;
    margin: 5px;
  }
}

#channelList .remove {
  display: none;
  line-height: 21px;
  color: #9c9c9c;
}

#channelList .remove:hover {
  color: #555;
}

#channelList a:hover .remove {
 display: block;
}

a, a:active, a:focus {
  color: #00B7FF;
  outline: 0 !important;
}

.videos {
  display: none;
}

.panel-heading {
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header {
  padding-bottom: 20px;
}

.header img {
  float: left;
  width: 60px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 11px;
  left: 10px;
}

#channelList a img{
  width: 30px;
  padding-right: 8px;
}

#addChannelButton {
    padding: 5px;
}


#addChannelButton button {
    display: block;
    width: 100%;
}

#player {
  display: none;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#playerProgress {
  width: 350px;
  margin: 22px auto;
}

#playButton, #pauseButton, #channelList a {
  cursor: pointer;
}

#pauseButton {
  display:none;
}

/* Input range / Progress bar styles */
input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 0%;
    height: 6px;
    background-color: #C3DBB4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #68B3AF), color-stop(100%, #68B3AF));
    background-image: -webkit-linear-gradient(#68B3AF, #68B3AF);
    background-image: -moz-linear-gradient(#68B3AF, #68B3AF);
    background-image: -o-linear-gradient(#68B3AF, #68B3AF);
    background-image: linear-gradient(#68B3AF, #68B3AF);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}
